@font-face {
  font-family: "Barclays Effra";
  src: url("./assets/BarclaysEffra_W_Rg.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Barclays Effra";
  src: url("./assets/BarclaysEffra_W_Md.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Barclays Effra";
  src: url("./assets/BarclaysEffra_W_Bd.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
